# 01 - Data importing, decoding, joining, and saving.
___

Step 1! Let's get our hands on the data and select for only collisions in South Yorkshire, as that's what the project focuses on. We'll decode the data to make it human readable, so that we can do some exploratory data analysis to get familiar with the data and have a bit more direction in training our model. We'll join the Casualty and Collision datasets into one big dataframe that we wil export to a .csv to read into our code for Step 2: Data cleaning.

In [55]:
import pandas as pd
import sqlalchemy

Here i'm reading in the information we need to convert the numbers in the downloaded data tables into their human readable equivalent. This is stored in the 'stats19_schema.csv' document

In [56]:
schema = pd.read_csv('stats19_schema.csv')
coll_schema = schema[schema.table=='Accident']
cas_schema = schema[schema.table=='Casualty']

Now time to download the data. I'm only downloading the last 5 years data because this is nice and fast for me to do (gov.uk website has compiled them for us!). This cell will take a little bit of time to run whilst it downloads everything.

In [57]:
coll_url = r"https://data.dft.gov.uk/road-accidents-safety-data/dft-road-casualty-statistics-collision-last-5-years.csv"
cas_url = r"https://data.dft.gov.uk/road-accidents-safety-data/dft-road-casualty-statistics-casualty-last-5-years.csv"

coll_df = pd.read_csv(coll_url, low_memory = False, na_values=[-1, '-1', 'Data missing or out of range', 'Unknown'])
cas_df = pd.read_csv(cas_url, low_memory = False, na_values=[-1, '-1', 'Data missing or out of range', 'Unknown'])

Below is a neat little piece of code that i'm proud of! In just one line of code we're converting all of the data to their corresponding strings. ðŸ˜Ž

In [58]:
coll_df = pd.concat([coll_df[name].map(coll_schema[coll_schema.variable == name].set_index('code').label).copy() if name in coll_schema.variable.unique() else coll_df[name] for name in coll_df.columns], axis=1)

In [59]:
cas_df = pd.concat([
    cas_df[name].map(cas_schema[cas_schema.variable == name].set_index('code').label).copy() if (name in cas_schema.variable.unique() and name != 'age_of_casualty') else cas_df[name] for name in cas_df.columns], axis=1)

In [60]:
cas_df.head()

,accident_index,accident_year,accident_reference,vehicle_reference,casualty_reference,casualty_class,sex_of_casualty,age_of_casualty,age_band_of_casualty,casualty_severity,...,pedestrian_movement,car_passenger,bus_or_coach_passenger,pedestrian_road_maintenance_worker,casualty_type,casualty_home_area_type,casualty_imd_decile,lsoa_of_casualty,enhanced_casualty_severity,casualty_distance_banding
0,2019010128300,2019,010128300,1,1,Driver or rider,Male,58.0,56 - 65,Slight,...,Not a Pedestrian,Not car passenger,Not a bus or coach passenger,No / Not applicable,Car occupant,Urban area,More deprived 10-20%,E01003175,NaN,2.0
1,2019010128300,2019,010128300,1,2,Passenger,Female,NaN,NaN,Slight,...,Not a Pedestrian,Front seat passenger,Not a bus or coach passenger,No / Not applicable,Car occupant,Urban area,More deprived 40-50%,E01003411,NaN,3.0
2,2019010128300,2019,010128300,1,3,Passenger,Female,NaN,NaN,Slight,...,Not a Pedestrian,Rear seat passenger,Not a bus or coach passenger,No / Not applicable,Car occupant,Urban area,More deprived 40-50%,E01003413,NaN,3.0
3,2019010152270,2019,010152270,1,1,Driver or rider,Female,24.0,21 - 25,Slight,...,Not a Pedestrian,Not car passenger,Not a bus or coach passenger,No / Not applicable,Car occupant,Urban area,More deprived 20-30%,E01003180,NaN,1.0
4,2019010155191,2019,010155191,2,1,Passenger,Female,21.0,21 - 25,Slight,...,Not a Pedestrian,Not car passenger,Not a bus or coach passenger,No / Not applicable,Cyclist,Urban area,Most deprived 10%,E01016964,NaN,4.0

In [61]:
coll_df.head()

,accident_index,accident_year,accident_reference,location_easting_osgr,location_northing_osgr,longitude,latitude,police_force,accident_severity,number_of_vehicles,...,light_conditions,weather_conditions,road_surface_conditions,special_conditions_at_site,carriageway_hazards,urban_or_rural_area,did_police_officer_attend_scene_of_accident,trunk_road_flag,lsoa_of_accident_location,enhanced_severity_collision
0,2019010128300,2019,010128300,528218.0,180407.0,-0.153842,51.508057,Metropolitan Police,Slight,2,...,Daylight,Fine no high winds,Dry,NaN,NaN,Urban,No - accident was reported using a self comple...,Non-trunk,E01004762,NaN
1,2019010152270,2019,010152270,530219.0,172463.0,-0.127949,51.436208,Metropolitan Police,Slight,2,...,Darkness - lights lit,Fine no high winds,Dry,NaN,NaN,Urban,No - accident was reported using a self comple...,Non-trunk,E01003117,NaN
2,2019010155191,2019,010155191,530222.0,182543.0,-0.124193,51.526795,Metropolitan Police,Slight,2,...,Darkness - lights lit,Fine no high winds,Dry,NaN,NaN,Urban,Yes,Non-trunk,E01000943,NaN
3,2019010155192,2019,010155192,525531.0,184605.0,-0.191044,51.546387,Metropolitan Police,Serious,1,...,Darkness - lights lit,Fine no high winds,Dry,NaN,NaN,Urban,Yes,Non-trunk,E01000973,NaN
4,2019010155194,2019,010155194,524920.0,184004.0,-0.200064,51.541121,Metropolitan Police,Slight,2,...,Darkness - lights lit,Fine no high winds,Dry,NaN,NaN,Urban,Yes,Non-trunk,E01000546,NaN

___

# 01.1 - Creating tables in a Postgres database

Here, we will use SQLAlchemy and Pandas to move the dataframes into a local Postgres database. For this ML project we will focus on South Yorkshire data, but we can use SQL to poke around in the UK-wide dataset with less issues due to the dataset size (and to show off our SQL chops!).

In [66]:
from sqlalchemy import create_engine, inspect
%load_ext sql

engine = create_engine('postgresql://postgres:postgres@localhost:5432/STATS19_casualty_collision')
try:
  %sql DROP table casualty;
  %sql DROP table collision;
except:
  pass

inspection = inspect(engine)
print(f'Current tables in the database are:\n {inspection.get_table_names()}')

The sql extension is already loaded. To reload it, use:
  %reload_ext sql
 * postgresql://postgres:***@localhost:5432/STATS19_casualty_collision
Done.
 * postgresql://postgres:***@localhost:5432/STATS19_casualty_collision
Done.
Current tables in the database are:
 []

In [67]:
cas_df.to_sql(con=engine, name='casualty', if_exists='replace', index=False)
coll_df.to_sql(con=engine, name='collision', if_exists='replace', index=False)

inspection = inspect(engine)
print(f'Now the tables in the database are:\n {inspection.get_table_names()}')

Now the tables in the database are:
 ['casualty', 'collision']

In [68]:
print(pd.read_sql("""
                  SELECT COUNT(*)
                  FROM casualty;
                  """, engine))

print(pd.read_sql("""
                  SELECT COUNT(*)
                  FROM collision;
                  """, engine))

    count
0  665408
    count
0  520084

All done. We'll query our new database later. For now, let's select only the South Yorkshire data and combine the Casualty and Collision dataframes in a one (collision) to many (casualty) join.

___

Now i'm selecting for only the data corresponding to South Yorkshire. Down the line if we want to train on all of the UK data we can just remove this line of code, but beware that we will have tailored our features towards the South Yorkshire data so it might not generalise so well.

In [70]:
coll_df = coll_df[coll_df.police_force == 'South Yorkshire']

Now we'll merge the two tables of data. Using a left join we drop any casualty data that doeesn't correspond to an accident in South Yorkshire.

In [18]:
joined = coll_df.merge(cas_df, on='accident_index', how='left')

And export it to a .csv for us to read in later on.

In [19]:
# joined.to_csv('dft_statistics_collision_and_casualty_last_5_years.csv', index=False)